[submodule "star-rating"]
	path = star-rating
	url = git@github.com:shzawa/star-rating.git
[submodule "waterfall-request"]
	path = waterfall-request
	url = git@github.com:shzawa/waterfall-request.git
[submodule "waterfall-request-graphql"]
	path = waterfall-request-graphql
	url = git@github.com:shzawa/waterfall-request-graphql.git
[submodule "suspense-tutorial"]
	path = suspense-tutorial
	url = git@github.com:shzawa/suspense-tutorial.git
